extends template

block nav
  ul(class="nav__list")
    li(class="nav__item")
      a(href="index.html", class="nav__link nav__link--active") Самые популярные книги
    li(class="nav__item")
      a(href="lub_6_3.html", class="nav__link") Список наиболее популярных книг
    li(class="nav__item")
      a(href="#", class="nav__link") Меню_3
    li(class="nav__item")
      a(href="#", class="nav__link") Меню_4

block content
  main(class="page__main-container")
    .image-grid(class="image-grid")
      each src in [require("./4.jpg"), require("./5.jpg"), require("./6.jpg"), require("./7.jpg")]
        div(class="image-grid__wrapper")
          if src === require("./4.jpg")
            a(href="lub_6_2.html")
              img(src=src, class="image-grid__image", alt="")
          else
            img(src=src, class="image-grid__image", alt="")

    .card-grid(class="card-grid")
      .card(class="card")
        img(src=require("./2.png"), class="card__image", alt="")
        p Книга из школьной программы, которую трудно понять в нежном подростковом возрасте. Писатель показал двойственность человеческой души, когда черное переплетается с белым. История о Раскольникове, который переживает внутреннюю борьбу.
      .card(class="card")
        img(src=require("./3.png"), class="card__image", alt="")
        p Небольшая история, в которой заключен огромный жизненный смысл. История, которая заставляет по-другому посмотреть на привычные вещи.
      .card(class="card")
        img(src=require("./8.png"), class="card__image", alt="")
        p Классический сборник рассказов Артура Конан Дойла о гениальном детективе, решающем сложные загадки с помощью логики и наблюдательности. Эти рассказы стали эталоном детективного жанра и подарили миру одного из самых известных литературных героев.

    .content(class="content")
      .text-block(class="text-block")
        .text-block__text
          h2(class="text-block__title") "Собачье сердце" Михаил Булгаков
          p(class="text-block__paragraph")
            | Остроумная и глубокая повесть, в которой сатирически изображены реалии советской эпохи. Профессор Преображенский проводит эксперимент, пересаживая человеческие органы собаки Шарику. В результате пёс превращается в примитивного и грубого Шарикова, воплощающего худшие черты общества.
            br
            br
            | Через этот сюжет Булгаков исследует вопросы морали, границ науки и неизменности человеческой природы. Повесть впечатляет ярким языком, живыми образами и философской глубиной. Это произведение остаётся актуальным и сегодня, поднимая вечные вопросы о человечности, культуре и прогрессе.
        img(src=require("./4.jpg"), class="text-block__image", alt="")

      .text-block(class="text-block")
        .text-block__text
          h2(class="text-block__title") "Три товарища" Эрих Мария Ремарк
          p(class="text-block__paragraph")
            | Это роман, который погружает в атмосферу послевоенной Германии 1920-х годов, когда разрушенные судьбы и моральные травмы Первой мировой войны еще долго отражались в жизни людей. Три героя — Роберт, Готфрид и Отто — пытаются выжить и найти смысл в этом мире, который кажется безнадежно разбитым. Вместе они открывают автомастерскую, которая становится их опорой в трудные времена.
            br
            br
            | Одной из ключевых тем романа является любовь. Отношения Роберта и Патриции Хольман, которая страдает от туберкулеза, становятся не только ярким, но и трагическим аспектом произведения. В их любви и боли Ремарк показывает хрупкость жизни и безысходность ситуации, когда счастье всегда отстает от времени и обстоятельств. Однако через личные утраты и разочарования роман все же вдохновляет на поиски радости и веры в будущее.
            br
            br
            | Ремарк искусно передает атмосферу эпохи, показывая не только проблемы личной судьбы, но и более широкие социальные изменения в Германии того времени. Это произведение о том, как люди пытаются пережить свои травмы, сохранить достоинство и поддерживать друг друга в мире, где невозможно избежать утрат.
